.categories-panel {
    background-color: #000;
}

.categories-panel__title {
    font-size: 1.4rem;
}

@media screen and (min-width: 501px) {
    .categories-panel {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
}