.see-product-link {
    background-color: #D87D4A;
    border-radius: 1px;
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 33px;
    padding: .7rem 1rem;
}

.secondary {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
}

.others {
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
}