.hero {
    background-image: url('../../assets/images/home/mobile/image-header.jpg');
    height: 90vh;
}

.hero__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
}

.hero__title::before {
    content: "New product";
    display: block;
    font-size: 1.05rem;
    font-weight: 300;
    letter-spacing: 4px;
    margin-bottom: 7px;
    opacity: .5;
    text-transform: uppercase;
}

.hero__description {
    font-size: .95rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    opacity: .7;
    padding: 0;
}

.products-cards {
    margin-bottom: 2rem;
    margin-top: 6rem;
}

.product-section {
    background-color: var(--orange);
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}

.product-section__image-container {
    height: 150px;
    width: 40%;
}

.product-section__content {
    margin-top: 2.5rem;
}

.product-section__content-description {
    font-size: .95rem;
    line-height: 1.4rem;
    margin-top: 1.3rem;
    opacity: .8;
}

.speaker-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url('../../assets/images/home/mobile/image-speaker-zx7.jpg');
    height: 300px;
    margin-top: 2rem;
}

.speaker-section__title {
    font-size: 1.4rem;
    font-weight: 700;
}

.earphones-section {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.earphones-section__image-container {
    height: 250px;
    margin-bottom: 1.5rem;
}

.earphones-section__content {
    background-color: #F1F1F1;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}

.earphones-section__content-title {
    font-size: 1.4rem;
    font-weight: 700;
}

.best-gear {
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.best-gear__content {
    padding-left: 2%;
    padding-right: 2%;
}

.best-gear__content-title {
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-top: 2rem;
}

.best-gear__content-title--highlight {
    color: #D87D4A;
    margin-left: 7px;
    margin-right: 7px;
}

.best-gear__content-description {
    font-size: .98rem;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    opacity: .8;
}

@media screen and (min-width: 501px) {
    .hero {
        background-image: url('../../assets/images/home/tablet/image-header.jpg');
    }

    .hero__division {
        width: 67%;
    }

    .speaker-section {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url('../../assets/images/home/tablet/image-speaker-zx7.jpg');
        height: 350px;
    }

    .product-section__image-container {
        height: 179px;
        width: 31%;
    }

    .earphones-section__image-container {
        margin-bottom: 0;
        height: 300px;
    }

    .earphones-section__image-container, .earphones-section__content {
        width: 50%;
    }
}

@media screen and (min-width: 801px) {
    .product-section {
        flex-flow: row nowrap;
        justify-content: center;
        min-height: 335px;
        overflow: hidden;
        padding-bottom: 0;
        padding-top: 0;
    }

    .product-section__image-container {
        align-self: flex-end;
        height: 256px;
        transform: translateY(13px);
        width: 30%;
    }

    .product-section__content {
        align-items: flex-start;
        margin-left: 7%;
        width: 47%;
    }

    .product-section__content-description {
        text-align: left;
    }
}

@media screen and (min-width: 992px) {  
    .hero {
        background-image: url('../../assets/images/home/desktop/image-hero.jpg');
    }

    .hero__division {
        padding-left: 0;
        padding-right: 0;
        text-align: left;
        width: 31%;
    }

    .speaker-section {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url('../../assets/images/home/desktop/image-speaker-zx7.jpg');
    }

    .best-gear {
        flex-direction: row-reverse;
    }

    .best-gear__content, .best-gear__image-container {
        width: 48%;
    }

    .best-gear__image-container {
        height: 530px;
    }
}

@media screen and (min-width: 1351px) {
    .product-section__image-container {
        width: 25%;
    }
}