@media screen and (min-width: 501px) {
    .d-block-tablet {
        display: block;
    }

    .d-flex-tablet {
        display: flex;
    }

    .d-none-tablet {
        display: none;
    }

    .d-none-sm {
        display: none;
    }

    .judtify-between-tablet {
        justify-content: space-between;
    }

    .judtify-center-tablet {
        justify-content: center;
    }

    .judtify-start-tablet {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 992px) {
    .align-start-desktop {
        align-items: flex-start;
    }

    .d-flex-md {
        display: flex;
    }

    .d-none-md {
        display: none;
    }

    .px-tablet {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (min-width: 1220px) {
    .px-lg {
        padding-left: 15%;
        padding-right: 15%;
    }
}