.header {
    background-color: #000;
}

.header__division {
    border-bottom: 1px solid #979797;
    padding-bottom: .8rem;
    padding-top: .8rem;
}

.header__itens {
    margin-bottom: 4px;
}

.header__itens:last-child {
    margin-bottom: 0;
}

.header__link {
    font-size: .8rem;
    padding: .4rem .9rem;
    text-decoration: none;
}

.cart-itens {
    border-radius: 50%;
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    padding: 3px 0;
    vertical-align: super;
    width: 20px;
}

.header__navigation--toggle {
    background: #000;
    display: block;
    left: 0;
    position: absolute;
    top: 55px;
    width: 100%;
}

@media screen and (min-width: 501px) {
    .header__division-2 {
        width: 30%;
    }
}

@media screen and (min-width: 992px) {
    .header__division-2 {
        width: 14%;
    }

    .header__list {
        padding-bottom: 0;
        padding-top: 0;
    }

    .header__itens {
        margin-bottom: 0;
    }

    .header__navigation--toggle {
        background: transparent;
        display: inline-block;
        left: 0;
        position: relative;
        top: 0;
        width: auto;
    }
}

@media screen and (min-width: 1220px) {
    .header__link {
        font-size: .85rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}