.header {
    background-color: #000;
}

.header__division {
    border-bottom: 1px solid #979797;
    padding-bottom: .8rem;
    padding-top: .8rem;
}

.header__link {
    font-size: .8rem;
    padding: .4rem .9rem;
    text-decoration: none;
}

@media screen and (min-width: 501px) {
    .header__division-2 {
        width: 30%;
    }
}

@media screen and (min-width: 992px) {
    .header__division-2 {
        width: 14%;
    }
}

@media screen and (min-width: 1220px) {
    .header__link {
        font-size: .85rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}