.cart-item {
    margin-bottom: 15px;
    padding-bottom: .5rem;
    padding-top: .5rem;
}

.cart-item:last-child{
    margin-bottom: 0;
}

.cart-item__image-container {
    height: 60px;
    width: 25%;
}

.cart-item__content {
    margin-left: 5%;
    width: 25%;
}

.cart-item__name {
    margin-bottom: 7px;
    font-size: 1.2rem;
}

.cart-item__form {
    background-color: #F1F1F1;
    margin-left: 9%;
    padding: .1rem .2rem;
    width: 36%;
}

.cart-item__decrement, .cart-item__increment {
    width: 35%;
}

.cart-item__input {
    font-size: 1.1rem;
    height: 30px;
    width: 60%;
}

.cart-item__quantity {
    flex-grow: 1;
    padding: .1rem .2rem;
    width: 36%;
}

@media screen and (min-width: 501px) {
    .cart-item {
        margin-bottom: 6px;
    }

    .cart-item__image-container--summary {
        width: 15%;
    }
}

@media screen and (min-width: 992px) {
    .cart-item__image-container--summary {
        width: 25%;
    }
}