.product-cart {
    background-color: #F1F1F1;
    padding-bottom: .5rem;
    margin-bottom: 5rem;
}

.product-cart:last-child {
    margin-bottom: 0;
}

.product-cart__image-container {
    transform: translateY(-64px);
    width: 50%;
}

.product-cart__name, .product-cart__link{
    transform: translateY(-51px);
}

.product-cart__name {
    font-weight: 700;
}

.product-cart__link {
    font-size: .9rem;
    font-weight: 600;
    margin-top: 1rem;
    opacity: .6;
}

.product-cart__icon {  
    color: #D87D4A;
    font-size: .9rem;
    margin-left: 10px;
}

@media screen and (min-width: 501px) {
    .product-cart {
        margin-bottom: 0;
        width: 32%;
    }

    .product-cart__image-container {
        transform: translateY(-37px);
    }

    .product-cart__name, .product-cart__link{
        transform: translateY(-35px);
    }
}

@media screen and (min-width: 992px) {
    .product-cart__image-container {
        transform: translateY(-50px);
    }

    .product-cart__name, .product-cart__link{
        transform: translateY(-40px);
    }
}